# Основная модель
API_KEY=your_key
API_BASE=https://api.openai.com/v1
MODEL_NAME=gpt-4o

# Доступ через докер локалхост модели
# MODEL_NAME=NAME
# API_KEY=KEY
# API_BASE=http://host.docker.internal:8000/v1


# Embedding модель
# Вариант 1: локально через ollama
EMBED_PROVIDER=ollama
EMBED_MODEL=nomic-embed-text
EMBED_BASE_URL=http://localhost:11434/

# Вариант 2: OpenAI
# EMBED_PROVIDER=openai
# EMBED_MODEL=text-embedding-3-small
# EMBED_API_KEY=your_key  # если отличается от API_KEY

# Порт для веб-интерфейса
WEB_PORT=7860
